/SnapBoxApi/.vs
/SnapBoxApi/bin
/SnapBoxApi/obj
*.tmp
/TestClient/bin
/TestClient/obj
/SnapBoxApp/bin
/SnapBoxApp/obj
/Packages
.DS_Store
*.user
/.vs
/.vscode
/LabelPrintingAgent/bin
/LabelPrintingAgent/obj
/SnapBoxPWA/bin
/SnapBoxPWA/obj
/SnapBoxPWA/publish
